extends layout

block content
  h1= title
  p Welcome to box_land with boxes!

  .menu
    a(class="button-link" href='boxy')= 'boxy'
  .menu
    a(class="button-link" href='flappy_box')= 'flappy_box'
  .menu
    a(class="button-link" href='dodge_box')= 'dodge_box'
