.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;

  color: #1A1A1A;
  background-color: #3399FF;

  line-height: 3em;

  flex-direction: row;
  justify-content: flex-start;
}