doctype html

include mixins/header
include mixins/footer
include mixins/nav

html
  head
    title= title
    include mixins/style

  body
    .container
      block header
        +header()
        +nav()
      block content
      block footer
        +footer()
    block scripts