doctype html

include mixins/header
include mixins/footer
include mixins/nav

html
  head
    title= title
    include mixins/style

  body
    .wrapper
      block header
        +header()
        +nav()
      .content
        block content
    block scripts