extends layout

block content
  h2= title
  
  button(id="new" class="btn") N E W
  button(id="lobbies" class="btn") L O B B I E S
  
  div#lobby-list.lobby-list
    ul.lobby-list__ul
      each lobby in lobbies
        li.lobby-list__li
          span= 'L O B B Y : ' + lobby.name
          button(id= lobby.id class="lobby-list__button") J O I N
  
  div#lobby-create.lobby-create
    p C R E A T E
    
    div.lobby-create__lobby
      label N A M E:
      input#name.lobby-create__input(type="text")
        
      div.lobby-create__button-case
        button#open.lobby-create__button O P E N
  
  div#lobby.lobby
    p W E L C O M E
    
    div.lobby__lobby
      label L O B B Y N A M E
      label#lobby-name
      div.lobby__button-case
        button#bail.lobby__button B A I L
        button#start.lobby__button S T A R T
        
block scripts
  include mixins/lobbyScripts