mixin nav()
  .nav
      a.nav__link(href='/')= 'H O M E' 
      a.nav__link(href='/single')= 'S I N G L E'
      a.nav__link(href='/mingle')= 'M I N G L E'
      a.nav__link(href='/highscores')= 'H I G H S C O R E S'
