mixin nav()
  .nav
    p
      a.link(href='/')= 'H O M E'
    p  
      a.link(href='/dodge')= 'D O D G E'
    p
      a.link(href='/lobbies')= 'L O B B I E S'
    p
      a.link(href='/highscores')= 'H I G H S C O R E S'
