link(rel='stylesheet' href='static/stylesheets/style.css')

link(rel='stylesheet' href='static/blocks/page.css')
link(rel='stylesheet' href='static/blocks/container/container.css')
link(rel='stylesheet' href='static/blocks/content/content.css')

link(rel='stylesheet' href='static/blocks/header/header.css')
link(rel='stylesheet' href='static/blocks/header-bar/header-bar.css')
link(rel='stylesheet' href='static/blocks/header-bar/header-bar__link.css')

link(rel='stylesheet' href='static/blocks/nav/nav.css')
link(rel='stylesheet' href='static/blocks/nav/nav__link.css')

link(rel='stylesheet' href='static/blocks/name-sn/name-sn.css')
link(rel='stylesheet' href='static/blocks/name-sn/name-sn__button.css')

link(rel='stylesheet' href='static/blocks/game-sn/game-sn.css')
link(rel='stylesheet' href='static/blocks/game-sn/game-sn__game.css')
link(rel='stylesheet' href='static/blocks/game-sn/game-sn__hud.css')

link(rel='stylesheet' href='static/blocks/scores/scores.css')
link(rel='stylesheet' href='static/blocks/scores/scores__ul.css')
link(rel='stylesheet' href='static/blocks/scores/scores__li.css')

link(rel='stylesheet' href='static/blocks/lobby-list/lobby-list.css')
link(rel='stylesheet' href='static/blocks/lobby-list/lobby-list__button.css')
link(rel='stylesheet' href='static/blocks/lobby-list/lobby-list__li.css')
link(rel='stylesheet' href='static/blocks/lobby-list/lobby-list__ul.css')

link(rel='stylesheet' href='static/blocks/lobby/lobby.css')
link(rel='stylesheet' href='static/blocks/lobby/lobby__button.css')
link(rel='stylesheet' href='static/blocks/lobby/lobby__button-case.css')