link(rel='stylesheet' href='static/stylesheets/style.css')




link(rel='stylesheet' href='static/blocks/scores/scores.css')
link(rel='stylesheet' href='static/blocks/scores/scores__ul.css')
link(rel='stylesheet' href='static/blocks/scores/scores__li.css')