
a:hover {
  color: #1177BB;
}

button.btn {
  color: #1A1A1A;
  background-color: #3399FF;
  padding: 10px;
  border-style: none;
  
  margin-right: 5px;
}

button.btn:hover {
  background-color: #1177BB;
}

button.lobby-li {
  float: right;
  clear: both;
}

ul.lobby-ulist {
  list-style-type: none;
    padding: 0;
}

ul.lobby-ulist li {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.lobby-ulist li:last-child {
    border-bottom: none
}

.clear-li {
  float: right;
  clear: both;
}

ul.highscores {
  list-style-type: none;
    padding: 0;
}

ul.highscores li {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.highscores li:last-child {
    border-bottom: none
}

div.new-lobby {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.lobby {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.button-case {
  float: right;
  clear: both;
}

div.new-player {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu {
  padding-bottom: 25px;
}