body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3399FF;
  background-color: #1A1A1A;
}

a.link {
  color: #3399FF;
  text-decoration: none;
}

a:hover {
  color: #1177BB;
}

a.header {
  color: #1A1A1A;
  text-decoration: none;
}

a.footer {
  color: #1A1A1A;
  text-decoration: none;
}

button.btn {
  color: #1A1A1A;
  background-color: #3399FF;
  padding: 10px;
  border-style: none;
  
  margin-right: 5px;
}

button.btn:hover {
  background-color: #1177BB;
}

button.lobby-li {
  float: right;
  clear: both;
}

ul.lobby-ulist {
  list-style-type: none;
    padding: 0;
}

ul.lobby-ulist li {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.lobby-ulist li:last-child {
    border-bottom: none
}

.clear-li {
  float: right;
  clear: both;
}

ul.highscores {
  list-style-type: none;
    padding: 0;
}

ul.highscores li {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.highscores li:last-child {
    border-bottom: none
}

div.new-lobby {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.lobby {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.button-case {
  float: right;
  clear: both;
}

div.new-player {
  background-color: #1F1F1F; 
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  color: #1A1A1A;
  background-color: #3399FF;
  width: 100%;
  height: 50px;

  font-size: 30px;
  
  padding-top: 15px;
  padding-bottom: 15px; 
}

.footer {
  color: #1A1A1A;
  background-color: #3399FF;
  width: 100%;

  font-size: 20px;
  
  padding-top: 15px;
  padding-bottom: 15px; 
}

.nav {
  display: inline;
}

.menu {
  padding-bottom: 25px;
}

.container {

}

.game {

}

#game_canvas {

}

#hud_canvas {
  
}