mixin boxy_scripts()

  script(src='/boxy/config.js' type='text/javascript')
  script(src='/boxy/controller.js' type='text/javascript')
  script(src='/boxy/box.js' type='text/javascript')
  script(src='/boxy/background.js' type='text/javascript')
  script(src='/boxy/main.js' type='text/javascript')
