mixin dodge_scripts()

  script(src='/dodge_box/config.js' type='text/javascript')
  script(src='/dodge_box/hud.js' type='text/javascript')
  script(src='/dodge_box/controller.js' type='text/javascript')
  script(src='/dodge_box/explode_box.js' type='text/javascript')
  script(src='/dodge_box/box.js' type='text/javascript')
  script(src='/dodge_box/enemy_box.js' type='text/javascript')
  script(src='/dodge_box/box_manager.js' type='text/javascript')
  script(src='/dodge_box/background.js' type='text/javascript')
  script(src='/dodge_box/main.js' type='text/javascript')