mixin flappy_scripts()

  script(src='javascripts/flappy_box/controller.js' type='text/javascript')
  script(src='javascripts/flappy_box/box.js' type='text/javascript')
  script(src='javascripts/flappy_box/background.js' type='text/javascript')
  script(src='javascripts/flappy_box/main.js' type='text/javascript')