mixin flappy_scripts()

  script(src='/flappy_box/controller.js' type='text/javascript')
  script(src='/flappy_box/box.js' type='text/javascript')
  script(src='/flappy_box/background.js' type='text/javascript')
  script(src='/flappy_box/main.js' type='text/javascript')