mixin flappy_scripts()

  script(src='/flappy_box/config.js' type='text/javascript')
  script(src='/flappy_box/controller.js' type='text/javascript')
  script(src='/flappy_box/explode_box.js' type='text/javascript')
  script(src='/flappy_box/player_box.js' type='text/javascript')
  script(src='/flappy_box/enemy_box.js' type='text/javascript')
  script(src='/flappy_box/box_manager.js' type='text/javascript')
  script(src='/flappy_box/background.js' type='text/javascript')
  script(src='/flappy_box/main.js' type='text/javascript')