mixin scripts()

    script(src='javascripts/controller.js' type='text/javascript')
    script(src='javascripts/box.js' type='text/javascript')
    script(src='javascripts/boxy_background.js' type='text/javascript')
    script(src='javascripts/boxy_main.js' type='text/javascript')

